@using Web.App.Services;
@using Web.Models;
@using System.IO;
@using Web.Models.Enums;
@using Web.Models.SeedWork;

@inject IWarehouseApiClient WarehouseApiClient;
@inject IJSRuntime JS

<div class="form-group">
    <div class="input-group input-group-xs mb-3">
        <span class="input-group-text">Tên hoặc mã sản phẩm</span>
        <input id="productSearchCode" class="form-control" @bind="Model.Key" @bind:event="oninput" @onkeyup="TextChange" @onchange="TextChange" />
        <span class="input-group-text">Danh mục</span>
        <InputSelect class="form-select" ValueExpression="@(()=>Model.CategoryId)"
                     Value="@Model.CategoryId"
                     ValueChanged="@((Guid? value) => CategoryChange(value))">
            <option value="@Guid.Empty">Chọn danh mục</option>
            @if (Categories != null)
            {
                @foreach (var item in Categories)
                {
                    <option value="@item.Id">@item.Title</option>
                }
            }
        </InputSelect>
        <button class="btn btn-outline-secondary" type="button" @onclick="Search">Tìm</button>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback<ProductListSearch> OnSearch { set; get; }

    private ProductListSearch Model = new ProductListSearch();

    private List<WarehouseCategoryDto> Categories { set; get; }

    protected async override Task OnInitializedAsync()
    {
        Categories = await WarehouseApiClient.GetCategories();
        Categories = SortTable(Categories, null, "", "---");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("setFocus", "#productSearchCode");
    }

    private async Task TextChange()
    {
        if (!string.IsNullOrEmpty(Model.Key) && Model.Key.Length > 3)
            await OnSearch.InvokeAsync(Model);
    }

    private async Task CategoryChange(Guid? value)
    {
        Model.CategoryId = value;
        await OnSearch.InvokeAsync(Model);
    }

    private async Task Search()
    {
        await OnSearch.InvokeAsync(Model);
    }

    private List<WarehouseCategoryDto> SortTable(List<WarehouseCategoryDto> table, Guid? parentId, string space = "", string distance = "....")
    {
        var rows = table.Where(dto => dto.ParentId == parentId).ToList();
        if (!rows.Any()) return new List<WarehouseCategoryDto>();
        var sortData = new List<WarehouseCategoryDto>();
        foreach (var row in rows)
        {
            var spaceNext = space + distance;
            var dt = SortTable(table, row.Id, spaceNext, distance);
            row.Title = space + row.Title;
            //row.Title = space + row.Title;
            sortData.Add(row);

            if (dt.Count > 0) sortData.AddRange(dt);
        }
        return sortData;
    }
}