@using Web.Backend.Services;
@using Web.Models;
@using System.IO;
@using Web.Models.Enums;
@using Web.Models.SeedWork;

@inject IContentApiClient ContentApiClient;

        <div class="row">
    @if (string.IsNullOrEmpty(Type))
    {
        <div class="col">
            <InputSelect class="form-control form-control-sm" @bind-Value="Model.Type">
                <option value="">Chọn danh mục</option>
                @if (Categories != null)
                {
                    @foreach (var type in DataSource.MediaTypes)
                    {
                        <option value="@type.Key">@type.Value</option>
                    }
                }
            </InputSelect>
        </div>
    }
            <div class="col">
            <InputSelect class="form-control form-control-sm" @bind-Value="Model.CategoryId">
                <option value="@Guid.Empty">Chọn danh mục</option>
                @if (Categories != null)
                {
                    @foreach (var item in Categories)
                    {
                    <option value="@item.Id">@item.Type @item.Titles.FirstOrDefault(e => e.Key == "vi").Value</option>
                    }
                }
            </InputSelect>
            </div>
            <div class="col">
                <InputText class="form-control form-control-sm" @bind-Value="Model.Title" placeholder="Tìm tiêu đề"></InputText>
            </div>
            <div class="col button-top">
        <button type="button" class="btn btn-primary btn-sm" @onclick="SearchForm">Tìm</button>
            </div>
        </div>

@code {
    [Parameter]
    public EventCallback<MediaListSearch> OnSearch { set; get; }

    [Parameter]
    public string? Type { set; get; }

    [Parameter]
    public int PageSize { set; get; }

    private MediaListSearch Model = new MediaListSearch();

    private List<CategoryDto> Categories { set; get; }

    protected async override Task OnInitializedAsync()
    {
        var categories = await ContentApiClient.GetCategories("MID");
        Categories = SortTable(categories, null, "", "---");
    }

    protected async override Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(Type))
        {
            Model.Type = Type;
            Model.PageSize = PageSize;
        }
    }

    private async Task SearchForm()
    {
        await OnSearch.InvokeAsync(Model);
    }

    private List<CategoryDto> SortTable(List<CategoryDto> table, Guid? parentId, string space = "", string distance = "....")
    {
        var rows = table.Where(dto => dto.ParentId == parentId).ToList();
        if (!rows.Any()) return new List<CategoryDto>();
        var sortData = new List<CategoryDto>();
        foreach (var row in rows)
        {
            var spaceNext = space + distance;
            var dt = SortTable(table, row.Id, spaceNext, distance);
            row.Type = space;
            sortData.Add(row);

            if (dt.Count > 0) sortData.AddRange(dt);
        }
        return sortData;
    }
}