@using Web.Backend.Services;
@using Web.Models;
@using System.IO;
@using Web.Models.Enums;
@using Web.Models.SeedWork;

@inject IContentApiClient ContentApiClient;

<div class="form-group">
    <div class="input-group input-group-sm mb-3">
    @if (string.IsNullOrEmpty(Type))
    {
        <span class="input-group-text">Loại</span>
        <InputSelect class="form-control" ValueExpression="@(()=>Model.Type)"
                     Value="@Model.Type"
                     ValueChanged="@((string value) => TypeChange(value))">
            <option value="">Chọn loại</option>
            @if (Categories != null)
            {
                @foreach (var type in DataSource.MediaTypes)
                {
                    <option value="@type.Key">@type.Value</option>
                }
            }
        </InputSelect>
    }
        <span class="input-group-text">Danh mục</span>
        <InputSelect class="form-control" ValueExpression="@(()=>Model.CategoryId)"
                     Value="@Model.CategoryId"
                     ValueChanged="@((Guid? value) => CategoryChange(value))">
            <option value="@Guid.Empty">Chọn danh mục</option>
            @if (Categories != null)
            {
                @foreach (var item in Categories)
                {
                <option value="@item.Id">@item.Type @item.Titles.FirstOrDefault(e => e.Key == "vi").Value</option>
                }
            }
        </InputSelect>
        <span class="input-group-text">Tìm tiêu đề</span>
        <input class="form-control" @bind="Model.Title" @bind:event="oninput" @onkeyup="TextChange" @onchange="TextChange" />
        <button type="button" class="btn btn-primary" @onclick="SearchForm">Tìm</button>
    </div>
</div>
@code {
    [Parameter]
    public EventCallback<MediaListSearch> OnSearch { set; get; }

    [Parameter]
    public string? Type { set; get; }

    [Parameter]
    public int PageSize { set; get; }

    private MediaListSearch Model = new MediaListSearch();

    private List<CategoryDto> Categories { set; get; }

    protected async override Task OnInitializedAsync()
    {
        var categories = await ContentApiClient.GetCategories("MID");
        Categories = SortTable(categories, null, "", "---");
    }

    protected async override Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(Type))
        {
            Model.Type = Type;
            Model.PageSize = PageSize;
        }
    }

    private async Task TextChange()
    {
        if (Model.Title != null && Model.Title.Length > 3)
            await OnSearch.InvokeAsync(Model);
    }

    private async Task CategoryChange(Guid? value)
    {
        Model.CategoryId = value;
        await OnSearch.InvokeAsync(Model);
    }

    private async Task TypeChange(string value)
    {
        Model.Type = value;
        await OnSearch.InvokeAsync(Model);
    }

    private async Task SearchForm()
    {
        await OnSearch.InvokeAsync(Model);
    }

    private List<CategoryDto> SortTable(List<CategoryDto> table, Guid? parentId, string space = "", string distance = "....")
    {
        var rows = table.Where(dto => dto.ParentId == parentId).ToList();
        if (!rows.Any()) return new List<CategoryDto>();
        var sortData = new List<CategoryDto>();
        foreach (var row in rows)
        {
            var spaceNext = space + distance;
            var dt = SortTable(table, row.Id, spaceNext, distance);
            row.Type = space;
            sortData.Add(row);

            if (dt.Count > 0) sortData.AddRange(dt);
        }
        return sortData;
    }
}