@using Web.Backend.Services;
@using Web.Models;
@using System.IO;
@using Web.Models.Enums;
@using Web.Models.SeedWork;

@inject IContentApiClient ContentApiClient;

<div class="form-group">
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text">Tên hoặc mã sản phẩm</span>
        <input class="form-control form-control-sm" @bind="Model.Key" @bind:event="oninput" @onkeyup="TextChange" @onchange="TextChange" />
        <span class="input-group-text">Danh mục</span>
        <InputSelect class="form-control form-control-sm" ValueExpression="@(()=>Model.CategoryId)"
                     Value="@Model.CategoryId"
                     ValueChanged="@((Guid? value) => CategoryChange(value))">
            <option value="@Guid.Empty">Chọn danh mục</option>
            @if (Categories != null)
            {
                @foreach (var item in Categories)
                {
                    <option value="@item.Id">@item.Type @item.Titles.FirstOrDefault(e => e.Key == "vi").Value</option>
                }
            }
        </InputSelect>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<ProductListSearch> OnSearch { set; get; }

    private ProductListSearch Model = new ProductListSearch();

    private List<CategoryDto> Categories { set; get; }

    protected async override Task OnInitializedAsync()
    {
        Categories = await ContentApiClient.GetCategories();
        Categories = SortTable(Categories, null, "", "---");
    }

    private async Task TextChange()
    {
        if (Model.Key.Length > 3)
            await OnSearch.InvokeAsync(Model);
    }

    private async Task CategoryChange(Guid? value)
    {
        Model.CategoryId = value;
        await OnSearch.InvokeAsync(Model);
    }

    private List<CategoryDto> SortTable(List<CategoryDto> table, Guid? parentId, string space = "", string distance = "....")
    {
        var rows = table.Where(dto => dto.ParentId == parentId).ToList();
        if (!rows.Any()) return new List<CategoryDto>();
        var sortData = new List<CategoryDto>();
        foreach (var row in rows)
        {
            var spaceNext = space + distance;
            var dt = SortTable(table, row.Id, spaceNext, distance);
            row.Type = space;
            sortData.Add(row);

            if (dt.Count > 0) sortData.AddRange(dt);
        }
        return sortData;
    }
}