@using Web.Backend.Services;
@using Web.Models;
@using Web.Backend.Components;
@using Web.Models.SeedWork;

@inject IToastService ToastService;
@inject ICompanyApiClient CompanyApiClient;
@inject IAttributeApiClient AttributeApiClient;

<table class="table table-sm">
    <thead>
        <tr>
            <th>Danh mục</th>
            <th>Thuộc tính</th>
            <th>Thứ tự</th>
            <th style="text-align:right">
                <button class="btn btn-primary btn-xs" @onclick="()=> CreateAttributeCategoryCreateDialog.Show(Guid.Empty)">Thêm</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (AttributeCategories != null)
        {
            @foreach (var caterogyId in CategoryIds)
            {
                var category = AttributeCategories.First(e => e.CategoryId == caterogyId);
                <tr>
                    <td>@category.CategoryNames.FirstOrDefault(e => e.Key == "vi").Value</td>
                    <td colspan="4" style="text-align:right">
                        <button class="btn btn-primary btn-xs" @onclick="()=> CreateAttributeCategoryCreateDialog.Show(caterogyId)">Thêm thuộc tính</button>
                    </td>
                </tr>
                @foreach (var item in AttributeCategories.Where(d => d.CategoryId == category.CategoryId))
                {
                    <tr>
                        <td></td>
                        <td>@item.AttributeId (@item.AttributeTitles.FirstOrDefault(e => e.Key == "vi").Value)</td>
                        <td style="text-align: center;width:100px">
                            <div class="input-group input-group-sm mb-3">
                                <button class="btn btn-outline-secondary" @onclick="@((e) => {item.Order--; OrderChanged(item.CategoryId, item.AttributeId, item.Order);})">&lt;</button>
                                <span class="form-control">@item.Order</span>
                                <button class="btn btn-outline-secondary" @onclick="@((e) => {item.Order++; OrderChanged(item.CategoryId, item.AttributeId, item.Order);})">&gt;</button>
                            </div>
                        </td>
                        <td style="text-align:right">
                            <button class="btn btn-danger btn-xs" @onclick="()=> OnDelete(item.CategoryId, item.AttributeId)">Xóa</button>
                        </td>
                    </tr>
                }
            }
           
        }
    </tbody>
</table>

<AttributeCategoryCreate @ref="CreateAttributeCategoryCreateDialog" CloseEventCallbak="RefreshList"></AttributeCategoryCreate>

<Confirmation ConfirmationMessage="Bạn có chắc chắn xóa?"
            ConfirmationTitle="Xóa thuộc tính của danh mục"
            @ref="DeleteConfirmation"
            ConfirmationChanged="OnConfirmDelete">
</Confirmation>

@code {
    private string TemplateName { set; get; }
    private List<AttributeCategoryDto> AttributeCategories { set; get; }
    private List<Guid> CategoryIds { set; get; }
    private Guid DeleteCategoryId { set; get; }
    private string DeleteAttributeId { set; get; }

    protected Confirmation DeleteConfirmation { set; get; }
    protected AttributeCategoryCreate CreateAttributeCategoryCreateDialog { set; get; }

    [CascadingParameter]
    private Error Error { set; get; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshList();
    }

    public async Task RefreshList()
    {
        try
        {
            AttributeCategories = await AttributeApiClient.GetAttributeCategoryList();
            CategoryIds = AttributeCategories.Select(e => e.CategoryId).Distinct().ToList();
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex);
        }
    }

    public async void Show(string name)
    {
        TemplateName = name;

        await RefreshList();

        StateHasChanged();
    }

    public void OnDelete(Guid categoryId, string attributeId)
    {
        DeleteCategoryId = categoryId;
        DeleteAttributeId = attributeId;
        DeleteConfirmation.Show();
    }

    public async Task OnConfirmDelete(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await AttributeApiClient.DeleteAttributeCategory(DeleteCategoryId, DeleteAttributeId);
            await RefreshList();
        }
    }

    public async void OrderChanged(Guid categoryId, string attributeId, int order)
    {
        var result = await AttributeApiClient.UpdateAttributeCategoryOrder(categoryId, attributeId, order);
        if (result)
        {
            ToastService.ShowInfo($"Đã cập nhật thứ tự thành [{order}] thành công");
            await RefreshList();
        }
        else ToastService.ShowError("Cập nhật không thành công");
    }
}