@page "/attributelist"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization;
@using Web.Backend.Components;
@using Web.Backend.Pages.Config.Components;
@using Web.Backend.Services;
@using Web.Models;
@using Web.Models.Enums;
@using Web.Models.SeedWork;

@inject IToastService ToastService;
@inject IAttributeApiClient AttributeApiClient
@inject ICompanyApiClient CompanyApiClient;

<section class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Quản lý thuộc tính</h1>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        @if (Attributes == null)
        {
            <LoadingIndicator></LoadingIndicator>
        }
        else
        {
            <div class="row">
                <div class="col-6">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách thuộc tính</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Mã</th>
                                        <th>Tên</th>
                                        <th>Loại</th>
                                        <th>Nhóm</th>
                                        <th style="text-align:right">
                                            <button class="btn btn-primary btn-xs" @onclick="()=> CreateAttributeDialog.Show()">Thêm</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Attributes)
                                    {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>                                        
                                                <table>
                                                    @foreach (var title in item.Titles)
                                                    {
                                                        <tr>
                                                        @if (Languages != null && Languages.Count > 1)
                                                        {
                                                            <td style="border:0;padding:0">@title.Key: </td>
                                                        }
                                                            <td style="border:0;padding:0">@title.Value</td>
                                                        </tr>
                                                    }
                                                </table>
                                            </td>
                                            <td>@DataSource.AttributeTypes[item.Type]</td>
                                            <td>
                                                @if (item.SourceNames != null)
                                                {
                                                    <table>
                                                        @foreach (var title in item.SourceNames)
                                                        {
                                                            <tr>
                                                                @if (Languages != null && Languages.Count > 1)
                                                                {
                                                                    <td style="border:0;padding:0">@title.Key: </td>
                                                                }
                                                                <td style="border:0;padding:0">@title.Value</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                }
                                            </td>
                                            <td style="text-align:right">
                                                <button class="btn btn-success btn-xs" @onclick="()=> UpdateAttributeDialog.Show(item.Id)">Sửa</button>
                                                <button class="btn btn-danger btn-xs" @onclick="()=> OnDelete(item.Id)">Xóa</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách nhóm thuộc tính</h3>
                        </div>
                        <div class="card-body">
                            <AttributeSourceList Languages="@Languages"></AttributeSourceList>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-outline card-cyan">
                        <div class="card-header">
                            <h3 class="card-title">Cài đặt thuộc tính</h3>
                        </div>
                        <div class="card-body">
                            <AttributeConfigList></AttributeConfigList>
                        </div>
                    </div>
                </div>
            </div>
            <Confirmation ConfirmationMessage="Bạn có chắc chắn xóa?"
                      ConfirmationTitle="Xóa thuộc tính"
                      @ref="DeleteConfirmation"
                      ConfirmationChanged="OnConfirmDelete">
            </Confirmation>

            <AttributeCreate @ref="CreateAttributeDialog" CloseEventCallbak="RefreshList"></AttributeCreate>
            <AttributeUpdate @ref="UpdateAttributeDialog" CloseEventCallbak="RefreshList"></AttributeUpdate>
        }
    </div>
</section>

@code {
    protected Confirmation DeleteConfirmation { set; get; }
    protected AttributeCreate CreateAttributeDialog { set; get; }
    protected AttributeUpdate UpdateAttributeDialog { set; get; }

    private List<AttributeDto> Attributes;
    private string DeleteId { set; get; }
    private List<string> Languages { get; set; }

    [CascadingParameter]
    private Error Error { set; get; }

    protected override async Task OnInitializedAsync()
    {
        await GetAttributes();
        Languages = await CompanyApiClient.GetLanguageList(Guid.Empty);
    }

    private async Task GetAttributes()
    {
        try
        {
            Attributes = await AttributeApiClient.GetAttributeList();
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex);
        }

    }

    public void OnDelete(string deleteId)
    {
        DeleteId = deleteId;
        DeleteConfirmation.Show();
    }

    public async Task OnConfirmDelete(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            var result = await AttributeApiClient.DeleteAttribute(DeleteId);
            if (result)
            {
                ToastService.ShowWarning($"Xóa thuộc tính thành công");
                await RefreshList(true);
            }
            else ToastService.ShowError("Xóa thuộc tính không thành công");
        }
    }

    public async Task RefreshList(bool result)
    {
        if (result)
        {
            await GetAttributes();
        }
    }
}