@page "/moduleconfiglist"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization;
@using Web.Backend.Components;
@using Web.Backend.Pages.Config.Components;
@using Web.Backend.Services;
@using Web.Models;
@using Web.Models.SeedWork;

@inject IToastService ToastService;
@inject IModuleConfigApiClient ModuleConfigApiClient;

<section class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Cài đặt nâng cao</h1>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        @if (Modules == null)
        {
            <LoadingIndicator></LoadingIndicator>
        }
        else
        {
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">Danh sách chức năng</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <ModuleConfigSearch @ref="ModuleConfigSearchControl" OnSearch="SearchModuleConfig" PageSize="20"></ModuleConfigSearch>
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Trang</th>
                                <th>Vị trí</th>
                                <th>Tiêu đề</th>
                                <th style="text-align:center">Thứ tự</th>
                                <th style="text-align:center">Sử dụng</th>
                                <th style="text-align:right">
                                    <button class="btn btn-primary btn-sm" @onclick="()=> OpenCreatePopup()">Thêm</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Modules)
                            {
                                <tr>
                                    <td title="@item.SkinName">
                                        @item.SkinDescribe
                                        <br /> (@item.SkinName)
                                    </td>
                                    <td title="@item.ComponentName"> 
                                        @(item.OnTemplate ? "Template - " : " ") @item.ComponentDescribe
                                        <br /> (@item.ComponentName)
                                    </td>
                                    <td title="@item.Position">
                                        @item.PositionDescribe
                                        <br /> (@item.Position)
                                    </td>
                                    <td>
                                            <table>
                                                @foreach (var title in item.Titles)
                                                {
                                                <tr>
                                                    <td style="border:0;padding:0">@title.Key: </td>
                                                    <td style="border:0;padding:0">@title.Value</td>
                                                </tr>
                                                }
                                            </table>
                                       
                                    </td>
                                    <td style="text-align: center;width:100px">
                                        <div class="input-group input-group-sm mb-3">
                                            <button class="btn btn-outline-secondary" @onclick="@((e) => {item.Order--; OrderChanged(item.Id, item.Order);})">&lt;</button>
                                            <span class="form-control">@item.Order</span>
                                            <button class="btn btn-outline-secondary" @onclick="@((e) => {item.Order++; OrderChanged(item.Id, item.Order);})">&gt;</button>
                                        </div>
                                    </td>
                                    <td class="form-switch" style="text-align: center; padding-left: 30px;">
                                        <input type="checkbox" checked="@item.Apply" class="form-check-input" role="switch" @onchange="@((e) => {item.Apply= bool.Parse(e.Value.ToString()); ApplyChanged(item.Id);})"></input>
                                    </td>
                                    <td style="text-align:right;width:100px">
                                        <a href="/moduleconfigdetail/@item.Id" class="btn btn-primary btn-sm">Xem</a>
                                        <button class="btn btn-danger btn-sm" @onclick="()=> OnDelete(item.Id)">Xóa</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
                                </td>
                            </tr>
                            
                        </tfoot>
                    </table>
                </div>
            </div>

            <Confirmation ConfirmationMessage="Bạn có chắc chắn xóa?"
                      ConfirmationTitle="Xóa cấu hình"
                      @ref="DeleteConfirmation"
                      ConfirmationChanged="OnConfirmDelete">
            </Confirmation>

            <ModuleConfigCreate @ref="ModuleConfigCreate"></ModuleConfigCreate>
        }
    </div>
</section>

@code {
    protected Confirmation DeleteConfirmation { set; get; }
    protected ModuleConfigCreate ModuleConfigCreate { set; get; }

    private List<ModuleConfigDto> Modules;
    private Guid DeleteId { set; get; }

    private ModuleConfigSearch ModuleConfigSearchControl { set; get; }
    private ModuleConfigListSearch ModuleConfigListSearch = new ModuleConfigListSearch();
    public MetaData MetaData { get; set; } = new MetaData();

    [CascadingParameter]
    private Error Error { set; get; }

    protected override async Task OnInitializedAsync()
    {
        ModuleConfigListSearch.PageSize = 20;
        await RefreshList(true);
    }

    public async Task RefreshList(bool result)
    {
        if (result)
        {
            try
            {
                var pagingResponse = await ModuleConfigApiClient.GetModuleList(ModuleConfigListSearch);
                Modules = pagingResponse.Items;
                MetaData = pagingResponse.MetaData;
            }
            catch (Exception ex)
            {
                Error.ProcessError(ex);
            }
        }
    }

    public async Task SearchModuleConfig(ModuleConfigListSearch moduleConfigListSearch)
    {
        ModuleConfigListSearch = moduleConfigListSearch;
        await RefreshList(true);
    }

    private async Task SelectedPage(int page)
    {
        ModuleConfigListSearch.PageNumber = page;
        await RefreshList(true);
    }

    public async Task OnConfirmDelete(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await ModuleConfigApiClient.DeleteModule(DeleteId);
            await RefreshList(true);
        }
    }
    public void OnDelete(Guid deleteId)
    {
        DeleteId = deleteId;
        DeleteConfirmation.Show();
    }
    public void OpenCreatePopup()
    {
        ModuleConfigCreate.Show();
    }

    public async void ApplyChanged(Guid id)
    {
        var result = await ModuleConfigApiClient.UpdateApplyModule(id);
        if (result) ToastService.ShowInfo("Cập nhật thành công");
        else ToastService.ShowError("Cập nhật không thành công");
    }
    public async void OrderChanged(Guid id, int order)
    {
        var result = await ModuleConfigApiClient.UpdateOrderModule(id, order);
        if (result)
        {
            ToastService.ShowInfo($"Đã cập nhật thứ tự thành [{order}] thành công");
            await RefreshList(true);
        }
        else ToastService.ShowError("Cập nhật không thành công");
    }
}