@page "/EventList"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization;
@using Web.Admin.Components;
@using Web.Admin.Pages.Content.Components;
@using Web.Admin.Services;
@using Web.Models;
@using Web.Models.SeedWork;
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@inject IToastService ToastService;
@inject IContentApiClient ContentApiClient;
@inject ICompanyApiClient CompanyApiClient;

<section class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Quản lý sự kiện</h1>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        @if (Events == null)
        {
            <LoadingIndicator></LoadingIndicator>
        }
        else
        {
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">Danh sách sự kiện</h3>
                </div>
                <div class="card-body">
                    <EventSearch @ref="EventSearchControl" OnSearch="SearchEvent"></EventSearch>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th style="text-align:center">Hình</th>
                                <th style="text-align:center">Ngày</th>
                                <th>Địa điểm</th>
                                <th style="text-align:center">lượt xem</th>
                                <th style="text-align:center">Hiển thị</th>
                                <th style="text-align:right">
                                    <button class="btn btn-primary btn-xs" @onclick="()=> OpenCreatePopup()">Thêm</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Events)
                            {
                                <tr>
                                    <td>
                                        <table>
                                            @foreach (var title in item.Titles)
                                            {
                                                <tr>
                                                    @if (Languages != null && Languages.Count > 1)
                                                    {
                                                        <td style="border:0;padding:0">@title.Key: </td>
                                                    }
                                                    <td style="border:0;padding:0">@title.Value</td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                    <td style="text-align:center"><img src="@(BackendApiUrl + "/" + item.Image.FullPath + "?DummyId=" + DateTime.Now.Ticks)" asp-append-version="true" width="50px" /></td>
                                    <td style="text-align:center">@item.StartDate.ToString(Configuration["DateTimeFormat"])</td>
                                    <td>@item.Place</td>
                                    <td style="text-align:center">
                                        @item.View
                                    </td>
                                    <td class="form-switch" style="text-align: center; padding-left: 30px;">
                                        <input type="checkbox" checked="@item.IsPublished" class="form-check-input" role="switch" @onchange="@((e) => {item.IsPublished= bool.Parse(e.Value.ToString()); ApplyChanged(item.Id);})"></input>
                                    </td>
                                    <td style="text-align:right;width:100px">
                                <a href="/eventdetail/@item.Id" class="btn btn-primary btn-sm">Xem</a>
                                        <button class="btn btn-danger btn-sm" @onclick="()=> OnDelete(item.Id)">Xóa</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <Confirmation ConfirmationMessage="Bạn có chắc chắn xóa?"
                      ConfirmationTitle="Xóa sự kiện"
                      @ref="DeleteConfirmation"
                      ConfirmationChanged="OnConfirmDelete">
            </Confirmation>
            <EventCreate @ref="CreateEvent" LanguageCode="vi" CloseEventCallbak="RefreshList"></EventCreate>
        }
    </div>
</section>

@code {
    protected Confirmation DeleteConfirmation { set; get; }
    protected EventCreate CreateEvent { set; get; }

    private const int PageSize = 20;
    private List<EventDto> Events;
    private Guid DeleteId { set; get; }
    private List<string> Languages { get; set; }

    private EventSearch EventSearchControl { set; get; }
    private EventListSearch EventListSearch = new EventListSearch();
    public MetaData MetaData { get; set; } = new MetaData();

    private string BackendApiUrl { get; set; }

    [CascadingParameter]
    private Error Error { set; get; }

    protected override async Task OnInitializedAsync()
    {
        BackendApiUrl = Configuration["BackendApiUrl"];
        Languages = await CompanyApiClient.GetLanguageList(Guid.Empty);
        EventListSearch.PageSize = PageSize;
        await RefreshList();
    }

    public async Task RefreshList()
    {
        try
        {
            var pagingResponse = await ContentApiClient.GetEvents(EventListSearch);
            Events = pagingResponse.Items;
            MetaData = pagingResponse.MetaData;
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex);
        }
    }

    public async Task SearchEvent(EventListSearch eventListSearch)
    {
        EventListSearch = eventListSearch;
        EventListSearch.PageSize = PageSize;
        await RefreshList();
    }

    private async Task SelectedPage(int page)
    {
        EventListSearch.PageNumber = page;
        await RefreshList();
    }

    public async Task OnConfirmDelete(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await ContentApiClient.DeleteEvent(DeleteId);
            await RefreshList();
        }
    }

    public void OpenCreatePopup()
    {
        CreateEvent.Show();
    }

    public void OnDelete(Guid deleteId)
    {
        DeleteId = deleteId;
        DeleteConfirmation.Show();
    }

    public async void ApplyChanged(Guid id)
    {
        var result = await ContentApiClient.UpdatePublish(id);
        if (result) ToastService.ShowInfo("Cập nhật thành công");
        else ToastService.ShowError("Cập nhật không thành công");
    }
}