@using Web.Backend.Services;
@using Web.Models;
@using Web.Models.Enums;
@using Web.Models.SeedWork;

@inject IToastService ToastService;
@inject ITemplateApiClient TemplateApiClient;
@inject IModuleApiClient ModuleApiClient;

@if (ShowDialog)
{
    <tr>
         <td colspan="4">
            <EditForm Model="Model" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="row">
                    <div class="col">
                        <InputText class="form-control form-control-sm" @bind-Value="Model.SkinName" placeholder="Tên Skin"></InputText>
                        <ValidationMessage For="()=> Model.SkinName"></ValidationMessage>
                    </div>
                    <div class="col">
                        <InputText class="form-control form-control-sm" @bind-Value="Model.Describe" placeholder="Mô tả"></InputText>
                        <ValidationMessage For="()=> Model.Describe"></ValidationMessage>
                    </div>
                    <div class="col">
                        <InputSelect class="form-control form-control-sm" ValueExpression="@(()=>Model.ModuleName)"
                                     Value="@Model.ModuleName"
                                     ValueChanged="@((string value) => {Model.ModuleName = value; Model.Describe = Modules.First(e => e.ModuleName == value).Describe;})">
                            <option>Chọn Module</option>
                            @foreach (var module in Modules)
                            {
                                <option value="@module.ModuleName">@module.ModuleName - @module.Describe</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="()=> Model.SkinName"></ValidationMessage>
                    </div>
                    <div class="col" style="text-align:right">
                        <button type="button" class="btn btn-secondary btn-xs" @onclick="()=>Hide()" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary btn-xs">Lưu</button>
                    </div>
                </div>
            </EditForm>
         </td>
    </tr>
}

@code {
    protected bool ShowDialog { get; set; }

    private TemplateSkinDto Model { set; get; } = new TemplateSkinDto();
    private List<ModuleDto> Modules;

    private PagingParameters Paging = new PagingParameters(0);

    [Parameter]
    public EventCallback<bool> CloseEventCallbak { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var pagingResponse = await ModuleApiClient.GetModuleList(Paging);
        Modules = pagingResponse.Items;
    }

    public void Show(string templateName)
    {
        Model.TemplateName = templateName;
        Model.SkinName = Model.Describe = "";
        ShowDialog = true;
        StateHasChanged();
    }

    private void Hide()
    {
        ShowDialog = false;
        StateHasChanged();
    }

    protected async Task HandleSubmit()
    {
        var result = await TemplateApiClient.CreateTemplateSkin(Model);
        if (result)
        {
            ShowDialog = false;
            await CloseEventCallbak.InvokeAsync(true);
            ToastService.ShowInfo("Thêm skin thành công");
        }
        else
        {
            ToastService.ShowError("Thêm skin không thành công");
        }
    }
}