@using Web.App.Components;
@using Web.App.Pages.Components
@using Web.App.Services;
@using Web.Models;
@using Web.Models.Enums;
@using Web.Models.SeedWork;
@using Blazored.TextEditor;

@inject IToastService ToastService;
@inject IOrderApiClient OrderApiClient;
@inject IConfiguration Configuration;

@if (ShowBox && Model != null && Model.Id != Guid.Empty)
{
    <div class="modal fade show d-block" id="assignModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đơn hàng: <strong>@Model.Id</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" @onclick="()=>Hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="alert alert-primary">
                                <div><lable>Ngày tạo: </lable> @Model.CreateDate.ToString(Configuration["DateTimeFormat"])</div>
                                @if (Model.ConfirmDate != null)
                                {
                                    <div><lable>Ngày xác nhận: </lable> @Model.ConfirmDate.Value.ToString(Configuration["DateTimeFormat"])</div>
                                }
                                @if (Model.SendDate != null)
                                {
                                    <div><lable>Ngày gửi: </lable> @Model.SendDate.Value.ToString(Configuration["DateTimeFormat"])</div>
                                }
                                @if (Model.ReceiveDate != null)
                                {
                                    <div><lable>Ngày nhận: </lable> @Model.ReceiveDate.Value.ToString(Configuration["DateTimeFormat"])</div>
                                }
                                @if (Model.CancelDate != null)
                                {
                                    <div><lable>Ngày trả: </lable> @Model.CancelDate.Value.ToString(Configuration["DateTimeFormat"])</div>
                                }
                                <div>
                                    <lable>Ghi chú: </lable> @Model.Note
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="alert alert-info">
                                <div><lable>Khách hàng: </lable> @Model.CustomerName</div>
                                <div><lable>Điện thoại: </lable> @Model.CustomerPhone</div>
                                <div><lable>Địa chỉ: </lable> @Model.CustomerAddress</div>
                                @if (Model.SendDate == null)
                                {
                                    <hr />
                                    <button type="button" class="btn btn-success btn-xs" @onclick="() => UpdateOrderCustomerControl.Show(Model)">Sửa thông tin người nhận</button>
                                }
                            </div>
                        </div>
                        @if (Model.SendDate == null || (Delivery != null && Delivery.OrderId != Guid.Empty))
                        {
                            <div class="col-12">
                                <div class="alert alert-success mt-3">
                                    @if (Delivery != null && Delivery.OrderId != Guid.Empty)
                                    {
                                        <div class="row mb-3">
                                            <div class="col" style="border-right:dotted 1px #ccc">
                                                <div><lable>Đơn vị giao hàng: </lable> @Delivery.DeliveryName</div>
                                                <div><lable>Mã đơn hàng: </lable> @Delivery.DeliveryCode</div>
                                            </div>
                                            <div class="col">
                                                <div><lable>Phí giao hàng: </lable> @Delivery.DeliveryFee.ToString("N0")</div>
                                                <div><lable>Thu hộ (COD): </lable> @(Delivery.COD ? "Có" : "Không")</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><lable>Ghi chú: </lable> @Delivery.DeliveryNote</div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col text-center">
                                                <button type="button" class="btn btn-danger btn-xs" @onclick="OpenDeleteOrderDiliveryConfirm">Bỏ đơn vị vận chuyển</button>
                                            </div>
                                        </div>
                                    }
                                    else if (Model.SendDate == null)
                                    {
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" @onclick="() => EditDeliveryControl.Show(Model.Id, Delivery)">Thêm đơn vị vận chuyển</button>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <table class="table table-sm table-striped table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">Sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                @if (Model.ConfirmDate == null)
                                {
                                    <th style="width:70px;text-align:center"><button class="btn btn-primary btn-xs" type="button" @onclick="() => ListProductControl.Show()">Thêm</button></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var product in Products)
                            {
                            <tr>
                                <td>
                                    @product.Name
                                        <br /> @product.Properties
                                </td>
                                <td style="text-align:center"><img src="@(BackendApiUrl + "/" + product.Image.FullPath)" asp-append-version="true" width="50px" /></td>
                                <td style="text-align:right">@product.Price.ToString("N0")</td>
                                <td style="text-align:right">@product.Quantity</td>
                                <td style="text-align:right">@product.TotalCost.ToString("N0")</td>
                                @if (Model.ConfirmDate == null)
                                {
                                    <td style="text-align:center">
                                        <button class="btn btn-success btn-xs" @onclick="()=> UpdateOrderProduct.Show(Model.Id, product)">Sửa</button>
                                        <button class="btn btn-danger btn-xs" @onclick="() => OpenDeleteOrderProductConfirm(product.ProductId)">Xóa</button>
                                    </td>
                                }
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Tổng:</td>
                                <td style="text-align:right;color:red">@Products.Sum(e => e.Quantity)</td>
                                <td style="text-align:right;color:red;font-weight:600">@Products.Sum(e => e.TotalCost).ToString("N0")</td>
                                @if (Model.ConfirmDate == null)
                                {
                                    <td></td>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    @if (Model.ConfirmDate == null)
                    {
                        <button type="submit" class="btn btn-success btn-xs" @onclick="() => OnConfirm(Model.Id)">Xác nhận</button>
                        <button type="button" class="btn btn-danger btn-xs" @onclick="OpenDeleteOrderConfirm">Xóa</button>
                    }
                    else if (Model.SendDate == null)
                    {
                        <button type="submit" class="btn btn-success btn-xs" @onclick="() => OnSend(Model.Id)">Gửi</button>
                        <button type="button" class="btn btn-danger btn-xs" @onclick="OpenDeleteOrderConfirm">Xóa</button>
                    }
                    else
                    {
                        @if (Model.ReceiveDate == null)
                        {
                            <button type="submit" class="btn btn-success btn-xs" @onclick="() => OnReceive(Model.Id)">Nhận</button>
                        }
                        @if (Model.CancelDate == null)
                        {
                            <button type="submit" class="btn btn-success btn-xs" @onclick="() => OnCancel(Model.Id)">Trả</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <Confirmation @ref="DeleteConfirmation" ConfirmationChanged="OnConfirmDelete"> </Confirmation>

    <ProductListPopup @ref="ListProductControl" EventCallbak="SelectProduct"></ProductListPopup>
    <OrderProductUpdate @ref="UpdateOrderProduct" CloseEventCallback="LoadData"></OrderProductUpdate>
    <OrderCustomerUpdate @ref="UpdateOrderCustomerControl" CloseEventCallback="LoadData"></OrderCustomerUpdate>
    <OrderDeliveryEdit @ref="EditDeliveryControl" CloseEventCallback="LoadData"></OrderDeliveryEdit>
}

@code {
    private string BackendApiUrl { get; set; }

    protected bool ShowBox { get; set; }
    private OrderDetailDto Model { get; set; }
    private OrderDeliveryDto Delivery { get; set; }
    private List<OrderProductDto> Products { set; get; } = new List<OrderProductDto>();

    protected Confirmation DeleteConfirmation { set; get; }
    private string DeleteType { set; get; }
    private Guid DeleteProductId { set; get; }

    [Parameter]
    public EventCallback EventCallback { get; set; }

    private ProductListPopup ListProductControl { get; set; }
    private OrderProductUpdate UpdateOrderProduct { set; get; }
    private OrderCustomerUpdate UpdateOrderCustomerControl { set; get; }
    private OrderDeliveryEdit EditDeliveryControl { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Model = new OrderDetailDto();
    }

    public async Task LoadData()
    {
        BackendApiUrl = Configuration["BackendApiUrl"];
        Model = await OrderApiClient.GetOrder(Model.Id);
        Delivery = await OrderApiClient.GetOrderDelivery(Model.Id);
        Products = await OrderApiClient.GetOrderProducts(Model.Id);
        StateHasChanged();
    }

    public async Task Show(Guid id)
    {
        ShowBox = true;
        Model.Id = id;

        await LoadData();
    }

    private void Hide()
    {
        ShowBox = false;
        StateHasChanged();
    }

    public void OpenDeleteOrderConfirm()
    {
        DeleteType = "ORDER";
        DeleteConfirmation.ConfirmationTitle = "Xóa đơn hàng";
        DeleteConfirmation.ConfirmationMessage = "Bạn có chắc chắn xóa đơn hàng này?";
        DeleteConfirmation.Show();
        StateHasChanged();
    }
    public void OpenDeleteOrderDiliveryConfirm()
    {
        DeleteType = "DELIVERY";
        DeleteConfirmation.ConfirmationTitle = "Xóa đơn vị vận chuyển";
        DeleteConfirmation.ConfirmationMessage = "Bạn có chắc chắn hủy đơn vị vận chuyển của đơn hàng này?";
        DeleteConfirmation.Show();
        StateHasChanged();
    }
    public void OpenDeleteOrderProductConfirm(Guid priductId)
    {
        if (Products.Count == 1) ToastService.ShowWarning($"Không thể xóa hết sản phẩm trong hóa đơn");
        else
        {
            DeleteProductId = priductId;
            DeleteType = "PRODUCT";
            DeleteConfirmation.ConfirmationTitle = "Xóa sản phẩm";
            DeleteConfirmation.ConfirmationMessage = "Bạn có chắc chắn xóa sản phẩm này?";
            DeleteConfirmation.Show();
            StateHasChanged();
        }
    }

    protected async Task SelectProduct(ProductDto product)
    {
        var orderProduct = new OrderProductDto
            {
                Image = product.Image,
                Name = product.Titles.Where(e => e.Key == "vi").Select(e => e.Value).FirstOrDefault(),
                Price = product.Price,
                Quantity = 1,
                ProductId = product.Id
            };
        var result = await OrderApiClient.CreateOrderProduct(Model.Id, orderProduct);
        if (result)
        {
            ToastService.ShowInfo($"Thêm sản phẩm thành công");
            await LoadData();
        }
        else ToastService.ShowError($"Thêm sản phẩm không thành công");
    }

    public async Task OnConfirmDelete(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            var result = false;

            switch(DeleteType)
            {
                case "ORDER":
                    result = await OrderApiClient.DeleteOrder(Model.Id);
                    if (result)
                    {
                        await EventCallback.InvokeAsync();
                        ShowBox = false;
                    }
                    break;
                case "PRODUCT":
                    result = await OrderApiClient.DeleteOrderProduct(Model.Id, DeleteProductId);
                    if (result)
                    {
                        await LoadData();
                    }
                    break;
                case "DELIVERY":
                    result = await OrderApiClient.DeleteOrderDelivery(Model.Id);
                    if (result)
                    {
                        await LoadData();
                    }
                    break;
            }
        }
    }

    public async Task OnConfirm(Guid id)
    {
        var result = await OrderApiClient.ConfirmOrder(id);
        if (result)
        {
            await EventCallback.InvokeAsync();
            Hide();
        }
    }
    public async Task OnSend(Guid id)
    {
        var result = await OrderApiClient.SendOrder(id);
        if (result)
        {
            await EventCallback.InvokeAsync();
            Hide();
        }
    }
    public async Task OnReceive(Guid id)
    {
        var result = await OrderApiClient.ReceiveOrder(id);
        if (result)
        {
            await EventCallback.InvokeAsync();
            Hide();
        }
    }
    public async Task OnCancel(Guid id)
    {
        var result = await OrderApiClient.CancelOrder(id);
        if (result)
        {
            await EventCallback.InvokeAsync();
            Hide();
        }
    }
}