@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization;
@using Web.Admin.Components;
@using Web.Admin.Pages.Content.Components;
@using Web.Admin.Services;
@using Web.Models;
@using Web.Models.SeedWork;
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@inject IToastService ToastService;
@inject IContentApiClient ContentApiClient;
@if (Relateds != null)
{
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Các bài viết liên quan</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Danh mục</th>
                        <th style="text-align:center">Hình</th>
                        <th style="text-align:center">Ngày</th>
                        <th style="text-align:right"><button type="button" class="btn btn-primary btn-xs" @onclick="() => ListArticleRelatedControl.Show()">Thêm</button></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Relateds != null)
                    {
                        @foreach (var item in Relateds)
                        {
                            <tr>
                                <td>
                                    <table>
                                        @foreach (var title in item.Titles)
                                        {
                                            <tr>
                                                <td style="border:0;padding:0">@title.Key: </td>
                                                <td style="border:0;padding:0">@title.Value</td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        @foreach (var title in item.CategoryNames)
                                        {
                                            <tr>
                                                <td style="border:0;padding:0">@title.Key: </td>
                                                <td style="border:0;padding:0">@title.Value</td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                                <td style="text-align:center"><img src="@(BackendApiUrl + "/" + item.Image.FullPath)" asp-append-version="true" width="50px" /></td>
                                <td style="text-align:center">@item.DisplayDate.ToString(Configuration["DateTimeFormat"])</td>
                                <td style="text-align:right"><button class="btn btn-danger btn-sm" @onclick="()=> Remove(item.Id)">Xóa</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>

    <ArticleListPopup @ref="ListArticleRelatedControl" EventCallbak="AddRelated"></ArticleListPopup>
}
@code {
    [Parameter]
    public Guid ItemId { set; get; }

    private List<ArticleDto> Relateds { set; get; }
    private string BackendApiUrl { get; set; }

    [CascadingParameter]
    private Error Error { set; get; }

    private ArticleListPopup ListArticleRelatedControl { set; get; }

    protected override async Task OnInitializedAsync()
    {
        BackendApiUrl = Configuration["BackendApiUrl"];
    }


    protected async override Task OnParametersSetAsync()
    {
        if (ItemId != null && ItemId != Guid.Empty)
        {
            Relateds = await ContentApiClient.GetArticleRelateds(ItemId);
        }
    }

    protected async Task AddRelated(ArticleDto related)
    {
        if (related.Id == ItemId) ToastService.ShowWarning("Bài viết liên quan không thể là chính nó");
        else if (Relateds.Any(e => e.Id == related.Id)) ToastService.ShowWarning("Bài viết liên quan đã tồn tại");
        else
        {
            var result = await ContentApiClient.CreateRelated(ItemId, related.Id);
            if (result)
            {
                Relateds.Add(related);
                StateHasChanged();
                ToastService.ShowInfo("Đã thêm bài viết liên quan");
            }
            else ToastService.ShowError("Thêm bài viết liên quan không thành công");
        }
    }

    public async Task Remove(Guid articleId)
    {
        var result = await ContentApiClient.DeleteRelated(ItemId, articleId);
        if (result)
        {
            ToastService.ShowWarning("Đã xóa bài viết liên quan");
            StateHasChanged();
        }
        else ToastService.ShowError("Xóa bài viết liên quan không thành công");
    }
    
}