@attribute [Authorize]

@using Dybi.App.Components
@using Dybi.App.Services
@using Microsoft.AspNetCore.Authorization;
@using Web.Models;
@using Web.Models.SeedWork;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IToastService ToastService;
@inject IWebsiteApiClient WebsiteApiClient;

@if (ShowBox)
{
    <div class="modal fade show d-block" id="assignModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
        @if (Products == null)
        {
            <LoadingIndicator></LoadingIndicator>
        }
        else
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chọn sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" @onclick="()=>Hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <ProductSearch @ref="ProductSearchControl" OnSearch="SearchProduct"></ProductSearch>
                    </div>
                    <table class="table table-sm table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th style="text-align:center">Hình</th>
                                <th>Danh mục</th>
                                <th style="text-align:right">Giá</th>
                                <th style="text-align:right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Products)
                            {
                                <tr>
                                    <td>@item.Code</td>
                                    <td> 
                                        @item.Titles.Where(e => e.Key == "vi").Select(e => e.Value).FirstOrDefault()
                                    </td>
                                    <td style="text-align:center"><img src="@(BackendApiUrl + "/" + item.Image.FullPath + "?DummyId=" + DateTime.Now.Ticks)" asp-append-version="true" width="50px" /></td>
                                    <td>
                                        @item.CategoryNames.Where(e => e.Key == "vi").Select(e => e.Value).FirstOrDefault()
                                    </td>
                                    <td style="text-align:right">
                                        @string.Format("{0:#.00}", item.Price)
                                        @if (item.DiscountType == null)
                                        {
                                            if (item.DiscountType == 1)
                                            {
                                                var price = (item.Discount * item.Price) / 100;
                                                <span> (@price)</span>
                                            }
                                            else if (item.DiscountType == 2)
                                            {
                                                var price = item.Price - item.Discount;
                                                <span> (@price)</span>
                                            }
                                            else if (item.DiscountType == 3)
                                            {
                                                <span> (@item.Discount)</span>
                                            }
                                        }
                                    </td>
                                    <td style="width:40px">
                                        <button class="btn btn-primary btn-xs" @onclick="() => Add(item)">Thêm</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        </div>
    </div>
}
@code {
    protected bool ShowBox { get; set; }
    private List<ProductDto> Products;

    [Parameter]
    public EventCallback<ProductDto> EventCallbak { get; set; }

    private ProductSearch ProductSearchControl { set; get; }
    private ProductListSearch ProductListSearch = new ProductListSearch();
    public MetaData MetaData { get; set; } = new MetaData();

    private string BackendApiUrl { get; set; }

    [CascadingParameter]
    private Error Error { set; get; }

    protected override async Task OnInitializedAsync()
    {
        BackendApiUrl = Configuration["BackendApiUrl"];

        ProductListSearch.PageSize = 5;
    }

    public async Task RefreshList(bool result)
    {
        if (result)
        {
            try
            {
                var pagingResponse = await WebsiteApiClient.GetProducts(ProductListSearch);
                Products = pagingResponse.Items;
                MetaData = pagingResponse.MetaData;
            }
            catch (Exception ex)
            {
                Error.ProcessError(ex);
            }
        }
    }

    public async Task SearchProduct(ProductListSearch productListSearch)
    {
        ProductListSearch = productListSearch;
        await RefreshList(true);
    }

    private async Task SelectedPage(int page)
    {
        ProductListSearch.PageNumber = page;
        await RefreshList(true);
    }

    public async Task Add(ProductDto product)
    {
        Hide();
        await EventCallbak.InvokeAsync(product);
    }

    public async Task Show()
    {
        ShowBox = true;
        if (Products == null) await RefreshList(true);
        StateHasChanged();
    }

    private void Hide()
    {
        ShowBox = false;
        StateHasChanged();
    }
}